<h2 class="mb-4">Dashboard</h2>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card text-bg-primary">
      <div class="card-body">
        <h5>Today Sales</h5>
        <h3>{{todaySales}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card text-bg-success">
      <div class="card-body">
        <h5>Today Profit</h5>
        <h3>{{todayProfit}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card text-bg-danger">
      <div class="card-body">
        <h5>Low Stock Items</h5>
        <h3>{{lowStockCount}}</h3>
      </div>
    </div>
  </div>
</div>